body /deep/ input,
body /deep/ textarea {
	background: #fff;
	border: 1px solid @subtle;
	border-radius: @borderRadius;
	box-sizing: border-box;
	font-size: 100%;
	outline: none;
	padding: @lineHeight/2;
	position: relative;
    resize:vertical;
	width: 100%;
	-webkit-appearance: none;
    -moz-appearance: none;
    .transition(.2s ease-in-out border-color);

    &:hover {
        border-color: @muted;
        .transition(.2s ease-in-out border-color);
    }

    &:focus {
    	border-color: @tertiary;
    	outline: none;

    	.transition(.2s ease-in-out border-color);
    }

    &.ng-dirty.ng-invalid, .invalid {
    	// border-color: @error;
    }

    &[disabled], .disabled {
    	cursor: not-allowed;
    }

    &[flex] + button {
        border-radius: 0 @borderRadius @borderRadius 0;
    }
}

body /deep/ input[start],
body /deep/ textarea[start],
.input-container[start] input,
.input-container[start] textarea {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

body /deep/ input[end],
body /deep/ textarea[end],
.input-container[end] input,
.input-container[end] textarea {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

/* Standard HTML Selects */
body /deep/ select {
    .unl-icon-button();
    background: transparent no-repeat url('data:image/svg+xml;utf8,<svg width="12" height="8" viewBox="0 0 12 8" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><g><g><path d="M10.6.6L6 5.2 1.4.6 0 2l6 6 6-6L10.6.6z" opacity=".54" fill="#000"/><path d="M-6-8h24v24H-6z"/></g></g></g></svg>');
    background-position: ~"calc(100% - 10px)" 50%;
    display: inline-block;
    font-size: 100%;
    height: 46px;
    padding-right: 28px;
    -moz-appearance: none;
    -webkit-appearance: none;
}

/* Checkbox */
body /deep/ input[type="checkbox"] {
    
}

/* Input Container (Used in self-validation Angular directive) */
.input-container {    
    position: relative;

    & input {
        position: relative;
        z-index: 2;
    }
    
    &[flex] + button {
        border-radius: 0 @borderRadius @borderRadius 0;
    }
}

/* Input helper text/valdation text */
.input-help {
    position: relative;
    .small();
    .muted();

    & span {
        display: block;
        margin-bottom: 0;
    }
}

/* Tag Input (tags-input in Angular) */
tags-input.unl-tag-input {
    font-size: @baseFontSize;

    & .host {
        margin: 0;
    }

    &.ng-invalid .tags {
        border-color: @error;
        box-shadow: none;
    }

    & .tags {
        border: 1px solid @subtle;
        padding: 0 5px 5px 0;
        .transition(.2s ease-in-out border-color);

        &.focused {
            box-shadow: none;
            border-color: @tertiary;
            outline: none;
            .transition(.2s ease-in-out border-color);
        }

        & .tag-item,
        & .input {
            font-size: 100%;
            .sans-serif-font();
            margin: 5px 0 0 5px;
        }

        & .tag-item {
            background: @subtle;
            border: none;
            color: @primaryTextColor;         
            height: auto;
            line-height: 1em;
            padding: 10px 8px 7px;

            /* Animation */
            &.ng-enter {
                .animate-zoom-in();
            }

            &.ng-leave {
                .animate-zoom-out();
            }

            &.selected {
                background: @error;
                color: #fff;

                & .remove-button, & .remove-button:active {
                    color: #fff;
                }
            }

            & .remove-button {
                &:active {
                    color: @error
                }
            }
        }

        & .input {
            height: 36px;

            &.invalid-tag {
                color: @error;
            }
        }
    }
}