button {
	background-color: @tertiary;
	border: none;
	border-radius: @borderRadius;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	outline: none;
	padding: @lineHeight/2;

	&:hover {
		background-color: darken(@tertiary, 5%);
	}

	&:active {
		box-shadow: inset 0 2px 3px fade(#000, 30%);
	}

	&.button-brand {
		background-color: @brand;

		&:hover {
			background-color: darken(@brand, 5%);
		}
	}

	&.button-error {
		background-color: @error;

		&:hover {
			background-color: darken(@error, 5%);
		}
	}

	&.button-success {
		background-color: @success;

		&:hover {
			background-color: darken(@success, 5%);
		}
	}

	&.button-secondary {
		background-color: @muted;

		&:hover {
			background-color: darken(@muted, 5%);
		}
	}

	&.button-outline {
		border: 1px solid @primaryTextColor;
		background-color: transparent;
		color: @primaryTextColor;

		&.white {
			border-color: #fff;
			color: #fff;
		}
	}

	&[disabled] {
    	cursor: not-allowed;
    }
}